html{
  background-color:  #F8F8FF;
  min-height: 100%;
}
.App{
  font-style: 'verdana';
 
}
.main{
  display: flex;
  flex-direction: column;
  padding:50px 50px;
}
#header-name{
  font-size:55px;
  margin-bottom: 15px;
}
.hr-large{
  height:10px;
  color:black;
  border:'none';
  width:100%;
  background-color:black;
}
#header-identity{
  color: #4F4F4F;
  font-size:21px;
  margin-bottom: 10px;
}
#headshot{
  width:60%;
  height:100%;
  margin-right:5%;
}
.main-content{
  display:flex;
  margin-top: 15px;
  font-size: 24px;
  height:35%;
  margin-bottom: 10px;
}
.main-content-links{
  display: flex;
  flex-direction: column;
  justify-content: left;  
  align-self: center;
}
.main-content-links-data{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: left;
}
.icon{
  margin-right: 10px;
}
.hr-small{
  width:100%;
  margin-top:15px;
  margin-bottom: 15px;
}
.a-link{
  color:rgb(14, 152, 106);
}
.header-h3{
  font-size: 30px;
}
.info-text{
  font-size:23px;
}
