html{
  background-color:  #F8F8FF;
  min-height: 100%;
}
.App{
  font-style: 'verdana';
}
.main{
  display: flex;
  flex-direction: column;
  padding:50px 50px;
}
#header-name{
  font-size:55px;
  margin-bottom: 15px;
}
.hr-large{
  height:10px;
  color:black;
  border:'none';
  width:100%;
  background-color:black;
}
#header-identity{
  color: #4F4F4F;
  font-size:21px;
  margin-bottom: 10px;
}
#headshot{
  width:60%;
  height:100%;
  margin-right:5%;
}
.main-content{
  display:flex;
  margin-top: 15px;
  font-size: 24px;
  height:35%;
  margin-bottom: 20px;
}
.main-content-links{
  display: flex;
  flex-direction: column;
  justify-content: left;  
  align-self: center;
}
.main-content-links-data{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: left;
}
.icon{
  margin-right: 10px;
}
.hr-small{
  width:100%;
  margin-top:20px;
  margin-bottom: 20px;
}
.a-link{
  color:rgb(14, 152, 106);
}
.header-h3{
  font-size: 30px;
}
.info-text{
  font-size:23px;
  line-height: 1.5;
}
.main-content-experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience-company{
  display:flex;
  width:100%;
}
.work-title{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight:500;

}
.work-desc{
  display:flex;
  font-size: 24px;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  width:75%;
  box-sizing: border-box;
}
.work-duration{
  font-size: 21px;
  color:rgb(73, 72, 72)
}
.company-logo{
  width:20%;
  margin-right:5%
}
.main-projects{
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
.projects{
  display: flex;
  flex-direction: column;
}
.project-header{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-style: italic;
}
.project-details{
  line-height: 1.5;
}
.skills{
  display:flex;
  font-size: 21px;
  flex-wrap: wrap;
  box-sizing: border-box;
  height:100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}
.skills-group{
  display:flex;
  flex-direction: column;
  width:40%;
  justify-content: center;
  align-items: baseline;
  
  margin: 10px;
}
.skill-group-item{
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
  align-items: center;
  width:60%;
  padding:0 20%;
}
.skill-header{
  font-size: 30px;
  align-self: center;
}
