.App{
  font-style: 'verdana';
}
.main{
  display: flex;
  flex-direction: column;
  padding:50px 50px;
}
#header-name{
  font-size:55px;
  margin-bottom: 15px;
}
.hr-large{
  height:10px;
  color:black;
  border:'none';
  width:100%;
  background-color:black;
}
#header-identity{
  color: #4F4F4F;
  font-size:21px;
  margin-bottom: 10px;
}